@{
    ViewBag.Title = "About";
}

<head>
    <title>Calorie Tracker</title>

    <style>

        body {
            background-color: #E4E8E8;
            font-family: 'Fredoka One', cursive;
        }

        h2 {
            color: #3C5099;
            text-decoration: underline;
        }
    </style>
</head>

<!--First Container-->
<div class="container-fluid text-center">

    <h2><u>Understanding Calories</u></h2>
    <p>
        When we eat and drink more calories than we use up, our bodies store the excess as body fat. If this continues, over time we may become overweight and can become obese. Being overweight or obese can increase the risk of type 2 diabetes, heart disease, stroke and some cancers.
        According to a study using data from 1980 to 2013, the UK has the third-highest rate of excess weight in Western Europe behind Iceland and Malta. 67% of men and 57% of women in the UK are overweight or obese according to the study which uses a Body Mass Index (BMI) of over 25 to define 'overweight' and a BMI of 30 or more to define 'obese'. Obesity levels in the UK have more than tripled in the last 30 years with latest figures showing that more than half of the UK population – 62% – are overweight or obese.
        The web based application is to promote a healthier lifestyle, to encourage people to be aware of their calorie intake and to control it accordingly.
        The company is requesting a web based application that will provide a visual guide on food substances with the calorie values displayed numerically. The app is to be easy to use with simple navigation to calorie values, food choices, a calorie counter, podcasts, contact form and general calorie related information.
    </p>
    <br />
    <h2><u>Watch your calories!</u></h2>
    <br />

</div>

<!-- Second Container -->
<div class="container-fluid text-center">
    <br />
    <img src="~/Images/toastie.jpg" class="img-responsive img-rounded"/>
    <br />
</div>